@model IEnumerable<SchoolManagementSystem.Models.Section>


<a asp-controller="Section" asp-action="CreateStudent" class="btn btn-primary">View Section</a>


<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SN</th>
                <th scope="col">Section</th>
                <th scope="col">Semester</th>
                <th scope="col">Faculty</th>
        
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }

            @foreach (var currentSection in Model)
            {
                <tr>
                    <th scope="row">@(i++)</th>
                    <td>@currentSection.SectionName</td>
                    <td>@currentSection.Semester.Name</td> 
                    <td>@currentSection.Faculty.Name</td>
                    
               
                </tr>
            }
        </tbody>
    </table>
</div>
